<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samo | User</title>
</head>
<body>
    {% extends 'home.html' %}

     {% block content %}
       <h1>User Sahifa</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla rem ipsa alias ratione, numquam amet accusantium voluptatibus vero molestiae qui iste exercitationem ab aut nobis! Consectetur deleniti at inventore quia!</p>
     {% endblock content %} 
</body>
</html>